@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: 300px 100px;
  background-color: #F5F8FA;
}

a {
  color: #00B7FF;
}

.stockImage {
  height: 4rem;
  width: 6rem;
}
img {
  width:100px;

}

#images {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

#threePage {
  display: flex;
  flex-direction: column;
}

#threeContainer {
  display: flex;
}